# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Exclude build files
.glide/
vendor
build
golangci-lint

# IDE files
*.vscode
.idea/
start.sh

# Documentation
node_modules
docs/node_modules
docs/.vuepress/dist