
# This is a basic workflow that is manually triggered

name: ethermint multiplatform

# Controls when the action will run. Workflow runs when manually triggered using the UI
# or API.
on: [push, pull_request]

# This workflow makes x86_64 binaries for mac, windows, and linux, and it makes them from each of these OSes.

jobs:
  build:
    strategy:
      matrix:
        arch: [amd64, arm64]
        targetos: [windows, darwin, linux]
        host: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.host }}
    name: ${{ matrix.targetos }}-${{ matrix.arch }} built on ${{ matrix.host }}
    steps:
      - uses: actions/checkout@v2
      - name: Setup go
        uses: actions/setup-go@v1
        with:
          go-version: 1.16
        env:
          GOOS: ${{ matrix.targetos }}
          GOARCH: ${{ matrix.arch }}

      - name: Compile
        run: |
          go mod download
          make build
          
      - uses: actions/upload-artifact@v2
        with:
         name: ethermintd ${{ matrix.targetos }} ${{ matrix.arch }} built on ${{ matrix.host }}
         path: build/ethermintd
