name: Deploy Contract
on:
  pull_request:
    branches:
      - "development"

jobs:
  cleanup-runs:
    runs-on: ubuntu-latest
    steps:
      - uses: rokroskar/workflow-run-cleanup-action@master
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
    if: "!startsWith(github.ref, 'refs/tags/') && github.ref != 'refs/heads/development'"

  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: technote-space/get-diff-action@v3.1
        id: git_diff
        with:
          SUFFIX_FILTER: |
            .go
            .mod
            .sum
            .sol
      - name: test-contract
        run: |
          make test-contract
        if: "env.GIT_DIFF != ''"
